entrypoint = "help/index.html"
hidden=[".config"]
modules = ["web", "nix"]

[nix]
channel = "stable-24_05"

[deployment]
publicDir = "/"
deploymentTarget = "static"

[auth]
pageEnabled = false
buttonEnabled = true
